<div class="filtre-container">
    <div class="tri-section">
      <h3>Trier par</h3>
      <a href="#" class="clear-filters" (click)="clearFilters()">Tout effacer</a>
  
      <div class="radio-group">
        <div class="radio-item">
          <input type="radio" id="depart-tot" name="tri" (change)="onFilterChange($event)" />
          <label for="depart-tot">
            Départ le plus tôt
            <i class="fas fa-clock"></i>
          </label>
        </div>
  
        <div class="radio-item">
          <input type="radio" id="prix-bas" name="tri" (change)="onFilterChange($event)" />
          <label for="prix-bas">
            Prix le plus bas
            <i class="fas fa-coins"></i>
          </label>
        </div>
  
        <div class="radio-item">
          <input type="radio" id="proche-depart" name="tri" (change)="onFilterChange($event)" />
          <label for="proche-depart">
            Proche du point de départ
            <i class="fas fa-walking"></i>
          </label>
        </div>
  
        <div class="radio-item">
          <input type="radio" id="proche-arrivee" name="tri" (change)="onFilterChange($event)" />
          <label for="proche-arrivee">
            Proche du point d’arrivée
            <i class="fas fa-walking"></i>
          </label>
        </div>
  
        <div class="radio-item">
          <input type="radio" id="trajet-court" name="tri" (change)="onFilterChange($event)" />
          <label for="trajet-court">
            Trajet le plus court
            <i class="fas fa-hourglass-half"></i>
          </label>
        </div>
      </div>
    </div>
  
    <hr />
  
    <div class="filtre-section">
      <h4>Heure de départ</h4>
      <div class="checkbox-group">
        <div class="checkbox-item">
          <input type="checkbox" id="avant-6h" (change)="onFilterChange($event)" />
          <label for="avant-6h">Avant 06:00</label>
          <span class="filter-count">15</span>
        </div>
  
        <div class="checkbox-item">
          <input type="checkbox" id="6h-12h" (change)="onFilterChange($event)" />
          <label for="6h-12h">06:00 - 12:00</label>
          <span class="filter-count">58</span>
        </div>
      </div>
    </div>
  </div>
  