<footer class="footer">
    <div class="footer-social">
      <a href="#" target="_blank">
        <img src="../../../../../assets/icons/icons8-facebook.svg" alt="Facebook">
      </a>
      <a href="#" target="_blank">
        <img src="../../../../../assets/icons/icons8-instagram.svg" alt="Instagram">
      </a>
  
    </div>
  
    <nav class="footer-nav">
      <a href="#">Home</a>
      <a href="#">News</a>
      <a href="#">About</a>
      <a href="#">Contact Us</a>
      <a href="#">Our Team</a>
    </nav>
  
    <div class="footer-bottom">
      <span>© EspritCarpooling 2024</span>
    </div>
  </footer>
  